<!-- footer begin -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                &copy; Copyiright 2015 - Blessing by SatriaThemes
            </div>
            <div class="col-md-6">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->