<div class="custom-col-3">
    <div class="left-col">
        <img src="{{thumbnail}}" alt="" class="img-responsive">
    </div>
    <div class="mid-col">
        <a href="{{link}}">
            <h3>{{title}}</h3>
        </a>
        <div class="details"><span>By <a href="#">{{speaker}}</a>, {{date}}</div>
    </div>
    <div class="right-col">
        <a href="#"><i class="fa fa-video-camera"></i></a>
        <a href="#"><i class="fa fa-volume-up"></i></a>
        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
    </div>
</div>