<!-- section begin -->
<section id="section-text">
    <div class="container">
        <div class="row">
			<div class="col-md-8 col-md-offset-2 text-center wow fadeInUp">
                <h2>{{'aboutthechurch_introduction' | translate}}</h2>
                <div class="divider-double"></div>
            </div>

            <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
                <img src="img/lodc/main/community.jpg" class="img-responsive" alt="">
                <h3>{{'aboutthechurch_community' | translate}}</h3>
				<br><br>
				<a ui-sref="intro" class="st-btn">{{'aboutthechurch_readmore' | translate}}</a>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay=".75s">
                <img src="img/lodc/main/mission.jpg" class="img-responsive" alt="">
                <h3>{{'aboutthechurch_mission' | translate}}</h3>
				<br><br>
				<a ui-sref="mission" class="st-btn">{{'aboutthechurch_readmore' | translate}}</a>
            </div>

        </div>
    </div>
</section>
<!-- section close -->
