<!-- subheader begin --> -->
        <section id="subheader" data-speed="2" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{'nav_events' | translate}}</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="clearfix"></div>

        <!-- content begin -->
        <div id="content">

            <div class="container">
                <div class="row">
                    <!-- event item begin -->
                    <div class="col-md-6 event-item" ng-repeat="event in events">
                        <div class="inner" style="height:100px;">
<!--                             <div class="left-col">
                                <img src="img/lodc/main/events_{{language.translator}}.jpg" alt="">
                            </div>
                            <div class="right-col">
                                <span class="month">FEB</span>
                                <span class="date">06</span>
                                <span class="time">08:00 am</span>
                            </div> -->
                        </div>
                        <div class="desc">
                            <a href="#">
                                <h3>{{event.title[language.translator]}}</h3>
                            </a>
                            <span class="text">{{event.content[language.translator]}}
                            </span>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <!-- content close