
<style>
    .intro-container {
        padding-left:20%;
        padding-right:20%;
    }
    .intro-title {
        font-weight: bold;
        font-size:20px;
        padding-bottom: 10px;
    }
    .intro-greeting {
        padding-bottom:20px;
        padding-left:15px;
        font-size:17px;
    }
    .intro-paragraph {
        padding-left:15px;
        font-size:18px;
        padding-bottom: 20px;

    }
</style>
<div class="clearfix">
</div>
<!-- content begin -->
<div id="content" class="no-padding">
<!-- subheader begin -->
<section id="subheader" data-speed="2" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{'intro' | translate}}</h1>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<div class="clearfix"></div>
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="intro-container">
                <div class="intro-title">
                    {{'intro_churchintro' | translate}}
                </div>
                <div class="intro-greeting">
                    {{'intro_greeting' | translate}}
                </div>
                <div class="intro-paragraph">
                    {{'intro_paragraph1' | translate}}
                </div>
                <div class="intro-paragraph">
                    {{'intro_paragraph2' | translate}}
                </div>
                 <div class="intro-paragraph">
                    {{'intro_paragraph3' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
