
<section id="latest-sermons">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center wow fadeInUp">
                <h2>{{'main_latestsermon_title' | translate}}</h2>
                <div class="divider-double"></div>
            </div>

            <div class="col-md-10 col-md-offset-1">
<!--                             <div class="custom-col-3 wow flipInX">
                    <div class="left-col">
                        <img src="img/sermons/pic%20(1).jpg" alt="" class="img-responsive">
                    </div>
                    <div class="mid-col">
                        <a href="#">
                            <h3>Transforming Live, Restoring Hope</h3>
                        </a>
                        <div class="details"><span>By <a href="#">John Rook</a>, February 08, 2015</span></div>
                    </div>
                    <div class="right-col">
                        <a href="#"><i class="fa fa-video-camera"></i></a>
                        <a href="#"><i class="fa fa-volume-up"></i></a>
                        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
                    </div>
                    <div class="col-md-10 col-md-offset-1"> -->
                 <div class="col-md-10 col-md-offset-1">
                    <div class="custom-col-3 wow flipInx" ng-repeat="recentsermon in recentsermons | orderBy:'-date'">
                        <div class="left-col">
                            <img src="{{recentsermon.media.img}}" class="img-responsive" alt="">
                        </div>
                        <div class="mid-col">
                            <a ng-click="watch(recentsermon)">
                                <h3>{{recentsermon.title[language.translator]}}</h3>
                            </a>
                            <div class="details"><span>{{recentsermon.displaydate}}</span></div>
                        </div>
                        <div class="right-col">
                            <a ng-click="watch(recentsermon)"><i class="fa fa-video-camera"></i></a>
<!--                             <a href="#"><i class="fa fa-volume-up"></i></a>
                            <a href="#"><i class="fa fa-file-pdf-o"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  