<div id="slider">
    <!--      revolution slider begin -->
    <div class="fullwidthbanner-container">
        <div id="revolution-slider">
            <ul>
                <li data-transition="fade" data-slotamount="10" data-masterspeed="1500">
                    <!--  BACKGROUND IMAGE -->
                    <img src="img/lodc/main/main1.jpg" alt="">
                    <div class="tp-caption border-v lft" data-x="540" data-y="center" data-speed="800" data-start="400" data-easing="easeInOutCubic" data-endspeed="300">
                    </div>
                    <div class="tp-caption custom-font-1 lft" data-x="600" data-y="140" data-speed="800" data-start="1000" data-easing="easeInOutCubic" data-endspeed="300">
                        {{sliderContent.main1.title[language.translator]}}
                    </div>
                    <div class="tp-caption lft custom-font-2" data-x="600" data-y="190" data-speed="800" data-start="800" data-easing="easeInOutCubic">
                        {{sliderContent.main1.subtitle[language.translator]}}
                    </div>
                    <div class="tp-caption sfb text-left" data-x="600" data-y="240" data-speed="800" data-start="1400" data-easing="easeInOutCubic">
                        {{sliderContent.main1.content[language.translator]}}
                        <br>
                    </div>
                    <div class="tp-caption sfb text-left" data-x="600" data-y="310" data-speed="800" data-start="1600" data-easing="easeInOutCubic">
                        <a class="btn btn-slider" ui-sref="{{sliderContent.main1.link}}">{{'aboutthechurch_readmore' | translate}}</a>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="10" data-masterspeed="1500">
                    <!--  BACKGROUND IMAGE -->
                    <img src="img/lodc/main/main2.jpg" alt="">
                    <div class="tp-caption custom-font-1 lft" data-x="left" data-y="140" data-speed="800" data-start="400" data-easing="easeInOutCubic" data-endspeed="300">
                        {{sliderContent.main2.title[language.translator]}}
                    </div>
                    <div class="tp-caption sfr custom-font-2" data-x="left" data-y="190" data-speed="800" data-start="800" data-easing="easeInOutCubic">
                        {{sliderContent.main2.subtitle[language.translator]}}
                    </div>
                    <div class="tp-caption sfb text-left" data-x="left" data-y="240" data-speed="800" data-start="1200" data-easing="easeInOutCubic">
                        {{sliderContent.main2.content[language.translator]}}
                        <br>
                    </div>
                    <div class="tp-caption sfb text-left" data-x="left" data-y="310" data-speed="800" data-start="1600" data-easing="easeInOutCubic">
                        <a class="btn btn-slider" ui-sref="{{sliderContent.main2.link}}">{{'aboutthechurch_readmore' | translate}}</a>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="10" data-masterspeed="1500">
                    <!--  BACKGROUND IMAGE -->
                    <img src="img/lodc/main/main3.jpg" alt="">
                    <div class="tp-caption border-v lft" data-x="540" data-y="center" data-speed="800" data-start="400" data-easing="easeInOutCubic" data-endspeed="300">
                    </div>
                    <div class="tp-caption custom-font-1 lft" data-x="600" data-y="140" data-speed="800" data-start="1000" data-easing="easeInOutCubic" data-endspeed="300">
                        total surrender
                    </div>
                    <div class="tp-caption lft custom-font-2" data-x="600" data-y="190" data-speed="800" data-start="800" data-easing="easeInOutCubic">
                        to God
                    </div>
                    <div class="tp-caption sfb text-left" data-x="600" data-y="240" data-speed="800" data-start="1400" data-easing="easeInOutCubic">
                        The first step in overcoming any kind of situation that holds me in bondage in my thoughts,
                        <br> mind, body and spirit is to surrender it to God
                        <br>
                    </div>
                    <div class="tp-caption sfb text-left" data-x="600" data-y="310" data-speed="800" data-start="1600" data-easing="easeInOutCubic">
                        <a class="btn btn-slider" href="#">Read More</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- revolution slider close -->
</div>
<!-- slider close
