        <!-- content begin -->
        <div id="content" class="no-padding">

            <!-- section begin -->
            <section id="page-events" class="no-padding">
                <div class="fullwidth">
                    <div class="one-fourth text-center">
                        <div class="title-area wow slideInLeft">
                            <span>{{'event_upcoming' | translate}}</span>
                            <h1>{{'event_event' | translate}}</h1>
                        </div>
                    </div>

                    <div class="three-fourth">
                        <div class="fx custom-carousel-1">

                            <div class="item">
                                <div class="overlay">
                                    <span class="time">{{'event_sunday_time' | translate}}</span>
                                    <a href="#">
                                        <h3>{{'event_sunday_title' | translate}}</h3>
                                    </a>
                                    <span class="desc">{{'event_sunday_description' | translate}}
                                    </span>
                                </div>
                                <img src="img/lodc/main/baptism.jpg" alt="">
                            </div>

                            <div class="item">
                                <div class="overlay">
                                    <span class="time">{{'event_wednesday_time' | translate}}</span>
                                    <a href="#">
                                        <h3>{{'event_wednesday_title' | translate}}</h3>
                                    </a>
                                    <span class="desc">{{'event_wednesday_description' | translate}}
                                    </span>
                                </div>
                                <img src="img/lodc/main/worship.jpg" alt="">
                            </div>

                            <div class="item">
                                <div class="overlay">
                                    <span class="time">{{'event_saturday_time' | translate}}</span>
                                    <a href="#">
                                        <h3>{{'event_saturday_title' | translate}}</h3>
                                    </a>
                                    <span class="desc">{{'event_saturday_description' | translate}}
                                    </span>
                                </div>
                                <img src="img/lodc/main/events.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </section>
            <!-- section close -->