
<style>
    .mission-container {
        padding-left:20%;
        padding-right:20%;
    }
    .mission-title {
        font-weight: bold;
        font-size:20px;
        padding-bottom: 10px;
    }
    .mission-desc {
        padding-bottom:20px;
        padding-left:15px;
        font-size:17px;
    }
</style>
<div class="clearfix">
</div>
<!-- content begin -->
<div id="content" class="no-padding">
<!-- subheader begin -->
<section id="subheader" data-speed="2" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{'mission_statement' | translate}}</h1>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<div class="clearfix"></div>
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="mission-container">
                <div class="mission-title">
                    1. {{'mission_1_title' | translate}}
                </div>
                <div class="mission-desc">
                    {{'mission_1_desc' | translate}}
                </div>
                <div class="mission-title">
                    2. {{'mission_2_title' | translate}}
                </div>
                <div class="mission-desc">
                    {{'mission_2_desc' | translate}}
                </div>
                <div class="mission-title">
                    3. {{'mission_3_title' | translate}}
                </div>
                <div class="mission-desc">
                    {{'mission_3_desc' | translate}}
                </div>
                <div class="mission-title">
                    4. {{'mission_4_title' | translate}}
                </div>
                <div class="mission-desc">
                    {{'mission_4_desc' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
