
    <div class="clearfix"></div>
    <!-- content begin -->
    <div id="content" class="no-padding">
<!-- subheader begin -->
        <section id="subheader" data-speed="2" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1>{{'nav_sermon' | translate}}</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="clearfix"></div>

        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="custom-col-3">
                            <div class="special-title">
                                {{"special_events" | translate}} 
                            </div>
                            <div class="special-list">
                                <div class="left-col special-video" ng-repeat="special in specials">
                                    <div style="float:left;">
                                        <img src="{{special.img}}" alt="" class="img-responsive" ng-click='open(special)'>
                                    </div>
                                    <div>
                                        {{special.title[language.translator]}}
                                    </div>
                                </div>
                                <div class="left-col">
                                    <div style="width:100px; height:100px">
                                        <img src="img/next.png" class="next-button" ng-click="next()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="special-title">
                            {{"nav_sermon" | translate}}
                        </div>
                        <div class="custom-col-3" ng-repeat="sermon in sermons | orderBy: '-date'">
                            <div class="left-col">
                                <img src="{{sermon.media.img}}" alt="" class="img-responsive" ng-click="open(sermon)">
                            </div>
                            <div class="mid-col">
                                <a ng-click="open(sermon)">
                                    <h3>{{sermon.title[language.translator]}}</h3>
                                </a>
                                <div class="details">{{sermon.displaydate}}</div>
                            </div>
                            <div class="right-col">
                                <a ng-click="open(sermon)"><i class="fa fa-video-camera"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="custom-col-3" ng-repeat="sermon in sermons | orderBy: '-date'">
                            <div class="left-col">
                                <img src="{{sermon.media.img}}" alt="" class="img-responsive">
                            </div>
                            <div class="mid-col">
                                <a ng-click="open(sermon)">
                                    <h3>{{sermon.title[language.translator]}}</h3>
                                </a>
                                <div class="details">{{sermon.displaydate}}</div>
                            </div>
                            <div class="right-col">
                                <a ng-click="open(sermon)"><i class="fa fa-video-camera"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
