            <!-- section begin -->
            <section id="section-testimonial">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div id="testi-carousel" class="testi-slider text-center wow fadeInUp">
                                <div class="item">
                             <!--        <img src="img/testi/pic%20(1).jpg" alt="" class="img-circle"> -->
                                    <blockquote>My wife and I feel truly blessed to be a part of a church that has its foundation upon God's words.  We are truly grrateful to be a part of the LODC family.</blockquote>
                                    <span class="testi-by">Paul Sue</span>
                                </div>
                                <div class="item">
                                    <!-- <img src="img/testi/pic%20(2).jpg" alt="" class="img-circle"> -->
                                    <blockquote>We are a family, a family that together encourages others and to share the joy that Jesus so sacrificially gave us freely. </blockquote>
                                    <span class="testi-by">Titus Cheng</span>
                                </div>
<!--                                 <div class="item">
                                    <img src="img/testi/pic%20(3).jpg" alt="" class="img-circle">
                                    <blockquote>
                                        Get in touch with Blessing theme today and get ready to see your church grow!

                                    </blockquote>
                                    <span class="testi-by">Marina Leopold</span>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
